.home {
  margin: 2rem 0;
  color: #555;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
